.App {
  text-align: center;
  width: 80%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0px;
}

button {
  padding-top: 35px;
  padding-bottom: 35px;
  font-size: 100px;
  height: 100%;
  background-color: #736e71;
  color: white;
  border: 1px solid black;
}

#zero-button {
  width: 633px;
}

.special-operand {
  background-color: #443e42;
}

.operand {
  background-color: orange;
}

#point {
  width: 316px;
}

#equal {
  width: 316px;
}

input {
  padding: 20px;
  height: 350px;
  width: 100%;
  background-color: rgb(14, 14, 14);
  color: white;
  font-size: 200px;
}
